<!DOCTYPE html>

{# Objects expected: #}
{#category_list -- see explanation in load_category_items in menu/js/menu.js#}

{#{% extends 'templates/base.html' %}#}
{% load static %}
{#add a supplier, add a truck, generate the codes.#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>RegisterTest</title>
</head>
<body>
{#    <link rel="stylesheet" href="{% static 'css/common/ListSelect.css' %}" type="text/css"/>#}
{#    common classes in use#}
{#    <script type="text/jsx" src="{% static 'js/common/ListSelect' %}"></script>#}
{##}
{#    app specific services#}
{#    <script type="text/jsx" src="{% static 'product_manager/js/ProductService.jsx' %}"></script>#}
{#    <script type="text/jsx" src="{% static 'delivery_manager/js/DeliveryService.jsx' %}"></script>#}
{#    <script type="text/jsx" src="{% static 'supplier_manager/js/SupplierService.jsx' %}"></script>#}
{#    <script type="text/jsx" src="{% static 'company_manager/js/CompanyService.jsx' %}"></script>#}
{##}
{#    app specific modules#}
{#        <script type="text/jsx" src="{% static 'delivery_manager/js/ModelList.jsx' %}"></script>#}
{##}
{#    <script type="text/jsx" src="{% static 'company_manager/js/ModelList.jsx' %}"></script>#}
{#    <script type="text/jsx" src="{% static 'supplier_manager/js/ModelList' %}"></script>#}
{#    <script type="text/jsx" src="{% static 'delivery_manager/js/RegisterDeliveryForm.jsx' %}"></script>#}
{#    <script type="text/jsx" src="{% static 'product_manager/js/RegisterProductForm.jsx' %}"></script>#}

{#    <script type="text/javascript" src="{% static 'visualizer/js/RegisterDeliver_en.js' %}"></script>#}

{#    <link rel="stylesheet" href="{% static 'visualizer/css/RegisterDelivery.css' %}" type="text/css"/>#}
{#    <script src="{% static 'main.js' %}"></script>#}
<div id="register_delivery_form"></div>
<div id="manage_deliveries"></div>
<audio id="audio_test2">
    <source src="{% static '/static/successful.mp3' %}" type="audio/mpeg">
</audio>
<audio id="audio_test2">
    <source src="{% static '/visualizer/media/successful.mp3' %}" type="audio/mpeg">
</audio>
<audio id="audio_test3">
    <source src="{% static 'successful.mp3' %}" type="audio/mpeg">
</audio>
<script>
    {#function play() {#}
    {#    console.log("Playing");#}
    {#    console.log(document.getElementById("audio_test1"));#}
    {#    console.log(document.getElementById("audio_test2"));#}
    {#    console.log(document.getElementById("audio_test3"));#}
    {##}
    {#    document.getElementById("audio_test1").play();#}
    {#    document.getElementById("audio_test1").play();#}
    {#    document.getElementById("audio_test1").play();#}
    {##}
    {##}
    {##}
    {#setInterval(play, 4000);#}
    console.log("HELLO");
    let user ={{ language|safe }};
    let choices = {{ choices|safe }};
    console.log(user);
    console.log(choices);


</script>

<script src="{% static 'main.js' %}"></script>


</body>
</html>