body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}
h2{
    margin: 10px;
}
.register_app {
    margin: auto;
    margin-top: 50px;
    display: block;
    width: auto;
    max-width: 1600px;
    max-height: 500px;
    overflow-y: scroll;
    border-width: 5px;
    border-radius: 5px;
    border-style: inset;
    border-color: lightgrey;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}


.register_form_container {
    background-color: #ffffff;
    padding: 0;
    border: 0;
    margin: 0;
}

.register_form_item {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px;
    vertical-align: top;
    display: inline-block;
    width: 200px;

}

.submit_button {
    width: 100%;
    font-size: 20px;
    border-radius: 2px;
    border-width: 3px;
    background-color: rgba(0, 185, 0, 0.2);
    border-style: outset;
    border-color: #00b800;
    height: 35px;
}

.submit_button:hover {
    background-color: #00A000;
}

.register_form_sub_item {
}

.input_final {
    background-color: #e4e8ea;
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    border-width: 0;

}

.input_filter {
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: inset;
    border-color: black;
}

.option {
    width: 100%;
    background-color: #fef8f1;
    text-align: center;
    padding: 0;
    border-width: 0;


}

.option:hover {
    background-color: #ebe5de;
}



