
.navbar {
    border: 0;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0;
    margin: 0;
}

/* Navbar Tweaks */
.navbar-brand img {
    height: 50px;
    margin: -10px;
}
