//.DashboardToolbar  {
//  height: 100%;
//  width:20px;
//  background-color: lightgrey;
//   .Button{
//    display: none;
//  }
//}

.DashboardToolbar {
  height: 100%;
  width: auto;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  background-color: white;
   .Button{
    display: block;
  }
}
