<!DOCTYPE html>
{# Objects expected: #}
{#category_list -- see explanation in load_category_items in menu/js/menu.js#}
<html lang="en">
{% extends 'templates/base.html' %}
{% load staticfiles %}
{% block body %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="{% static 'accounts/css/manager.css' %}" type="text/css"/>
    <script src="{% static 'js/common/search_table.js' %}"></script>
    <script src="{% static 'js/common/banner.js' %}"></script>
    <script src="{% static 'accounts/js/permission_manager.js' %}"></script>
    <script src="{% static 'accounts/js/ReactExample.js' %}"></script>


    <div class="tabs_header" id="tabs_header">
        <a style="text-decoration:none;" onclick="show_stats()">Statistics</a>
        <a style="text-decoration:none;" onclick="show_accounts()">Accounts</a>

    </div>
    <div class="" id="root">`

        PERMISSION MANAGER
    </div>

{% endblock %}

</html>
{#  <div class="welcome_message_container container">#}
{#            <h2 class="welcome_message_2" style="font-size:60px" >WELCOME TO OAXACA</h2>#}
{#        </div>#}
{#        <input id="table_code" class="table_code_input float-right" placeholder="Please` enter your code."> </input>#}
{##}
