// Make sure you set all padding; borders on this select and not the parent div.
// this is mainly for :focus and tabbing.
.Button {
  opacity: 1;
  width: inherit;
  margin: 5px;
  border-radius: 4px;
  background-color: rgb(0, 150, 255);
  display: flex;
  padding: 5px 3px 3px 5px;
  color: white;
  font-weight: bold;
  flex-direction: column;
  align-content: center;
  text-align: center
}

.Button:hover {
  opacity: 0.7;
  cursor: pointer;
}

