.WidgetBody {

  .Left {
    height: -webkit-fill-available;
    width: 60%;
    float: left;
  }

  .Right {
    height: -webkit-fill-available;
    width: 40%;
    float: right;
  }

  .TimelineContainer {
    position: absolute;
    top: 2em;
    bottom: 0;
    width: inherit;
  }

  .HeatMapContainer {
    position: absolute;
    top: 2em;
    bottom: 0;
    width: inherit;
  }
}