.WidgetBody {

  .Left {
    width: 60%;
  }

  .Right {
    width: 40%;
  }

  .TimelineContainer {
    position: absolute;
    top: 2em;
    bottom: 0;
    width: inherit;
  }

  .HeatMapContainer {
    position: absolute;
    top: 2em;
    bottom: 0;
    width: inherit;
  }
}