<!DOCTYPE html>

{# Objects expected: #}
{#category_list -- see explanation in load_category_items in menu/js/menu.js#}
<html lang="en">

{% extends 'company_manager/templates/base.html' %}
{% load staticfiles %}
{#add a supplier, add a truck, generate the codes.#}

{% block body %}
    <link rel="stylesheet" href="{% static 'company_manager/css/company_manager_qr_generator.css' %}" type="text/css"/>
    <script src="{% static 'company_manager/js/external_libraries/html2canvas.js' %}"></script>
    <script src="{% static 'company_manager/js/company_manager_qr_display.js' %}"></script>
    <script src="{% static 'company_manager/js/external_libraries/qrcode.js' %}"></script>
    <script src="{% static 'company_manager/js/external_libraries/jquery_3_3_1.js' %}"></script>
    <script src="{% static 'company_manager/js/external_libraries/dymo.js' %}"></script>
         <script src="{% static 'company_manager/js/class_files/Label.js' %}"></script>

        <script src="{% static 'company_manager/js/external_libraries/dymo_example.js' %}"></script>

    <div id=main_container class="main_container">
        <button onclick="print_all()">Print all
        </button>

    </div>
    <script type="text/javascript">
        load_data({{ truck|safe }}, {{ product|safe }})
    </script>
{% endblock %}
</html>